# Core dependencies
alembic
fastapi
passlib[bcrypt]
psycopg[binary]
pydantic
pydantic-settings
python-multipart
sqlalchemy
strawberry-graphql[fastapi]
uvicorn[standard]

# Data generation
faker

# Cache/Sessions
redis